{% extends 'base.html'%}

	{% block head%} 
		<title>Home</title>
	{%endblock%}
	
	{% block body%}
		<br/>
		<h1>MISVAN FLASK BLOG</h1>
		<br/>
		<div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>WELCOME!</h1>
          <p>This is a fully functional Flask CRUD web app. With the app you can Creat new, Read from, Update / Edit posts as well as Delete posts  </p>
            <a class="btn btn-primary" href="/posts" role="button">Test App<a/>
          </p>
        </div>
      </div>
    </div>
	{%endblock%}